input.skillcheck {
    margin: 0px;
}

input.smallcheck {
    margin: 0px;
    padding: 0px;   
}

input.xtiny {
    margin: 0px;
    padding: 0px;
}

input.fullpower {
    width: 180px;   
}

input.shortpower {
    width: 140px;   
}

input.tiny {
    margin: 0px;
    padding: 0px;
}

input.cash {
    width: 82px;
}

div.attr {
    margin: 0px 2px 0px 0px;
}

div.row {
    margin: 2px 0px 1px 0px;
}