#gear
{
  width: 324px !important;
}
#gear input
{
  width: 43px !important;
}
#gear input.name
{
  width: 226px !important;
}
#feats
{
  width: 324px !important;
}
#feats input
{
  width: 160px !important;
}
#featsandgearcontainer
{
  width: 324px !important;
}
#skillcontainer
{
  width: 330px !important;
}
table.spellsHeader, table.spellsHeader tr, table.spellsHeader tr td {
  background: black !important;
  color: white !important;
  font-size: 14px !important;
  margin: 0px 0px 0px 10px !important;
}
table.spells {
  margin: 0px !important;
}
div#spellScrollWrapper {
  height: 605px !important;
}
